<div class="float">
    
<h1 align="center" class="display-5 mb-5">sign in</h1>

<div style="width:40%; margin: 25px auto;" >

    <div class="alert alert-danger message" *ngIf="isInvalid">
        Invalid username and password.
    </div>
    <div class="alert alert-info message" *ngIf="isLogout">
        You have been logged out.
    </div>


    <form #form='ngForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email address</label>
            <input type="text" class="form-control form-control-lg" id="email" name="email" placeholder="Enter email"
                   required autofocus [(ngModel)]="model.username" #email="ngModel" autocomplete="email" >
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger message">
                Email is required
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control form-control-lg" id="password" name="password"  autocomplete="password"
                   placeholder="Password" required [(ngModel)]="model.password" #password='ngModel'>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger message">
                Password is required
            </div>
        </div>

        <div class="form-group">
            <div>
                <span id="remember_me" ><input type="checkbox" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">Remember Me</span>
                
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="!form.form.valid" type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
        </div>
    </form>


   

</div>
</div>